<!-- <h2>Hero {{hero.name | uppercase}} Details</h2>
<div><span>ID: </span>{{hero.id}}</div>
<div>
    <label>name:
        <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
</div>

<h2>Champion {{champion.name | uppercase}} Details</h2>
<div><span>ID: </span>{{champion.id}}</div>
<div>
    <label>Name:
        <input [(ngModel)]="champion.name" placeholder="name" />
    </label>
</div>
<div>
    <label>Match:
        <input [(ngModel)]="champion.match" placeholder="match" />
    </label>
</div> -->

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelected(hero)" [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>